@import "_variables.scss";

.wrap {
  width: 50%;
  margin-left: 25%;
  background-color: #ccc;
  height: 250px;
  text-align:center;
  border: 5px solid #336E7B;
}

.slide {
  position: static;
  color: #fff;
  line-height: 250px;
  text-decoration: none;
  border-radius: 5em;
  padding: 15px 50px;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  
background: -webkit-linear-gradient(right, #336E7B 50%, #E26A6A 50%);
background: -moz-linear-gradient(right, #336E7B 50%, #E26A6A 50%);
background: -o-linear-gradient(right, #336E7B 50%, #E26A6A 50%);
background: linear-gradient(to left, #336E7B 50%, #E26A6A 50%);
  
	background-size: 200% 100%;
	background-position: left bottom;
	transition: all 1s ease;
}

.slide:hover {
	background-position: right bottom;
}