html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-1 {
  width: 20vw;
  height: 6vw;
  position: -webkit-sticky;
  position: sticky;
  left: 50vw;
  top: 50vh;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  font-family: 'Varela Round', sans-serif;
  font-size: 3vw;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  border: none;
  border-radius: 10px;
  outline: none;
  background: #ff5722;
  background-size: 400% 400%;
  -webkit-box-shadow: 1vw 1vw 0 black;
          box-shadow: 1vw 1vw 0 black;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-1:hover {
  font-size: 2.05vw;
  -webkit-box-shadow: 0.2vw 0.2vw 0 black;
          box-shadow: 0.2vw 0.2vw 0 black;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: auto;
  margin: auto;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 100;
}

.btn-2 {
  position: -webkit-sticky;
  position: sticky;
  letter-spacing: 0.25em;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  background: transparent;
  outline: none;
  font-size: 28px;
  color: #333333;
}

.btn-2::after, .btn-2::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -2;
}

.btn-2::before {
  background-color: #ffff00;
  top: -1rem;
  left: 0rem;
}

.btn-2::after {
  background-color: #8a19ff;
  top: 1rem;
  left: 8rem;
}

.btn-2:hover::before, .btn-2:hover::after {
  top: 0;
  -webkit-transform: skewx(0deg);
          transform: skewx(0deg);
}

.btn-2:hover::after {
  left: 0rem;
}

.btn-2:hover::before {
  left: 8.75rem;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  right: 0;
  left: 0;
  display: block;
  width: 240px;
  padding: 40px;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 0 10px 20px -5px #94a6af;
          box-shadow: 0 10px 20px -5px #94a6af;
  overflow: hidden;
}

button:before, button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

button:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-image: url("https://cdn.pixabay.com/photo/2020/09/07/11/57/stairway-5551641_1280.jpg");
  background-size: cover;
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
  z-index: 1;
}

button:after {
  background-color: #000;
  opacity: 0.16;
  z-index: 2;
}

button div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

button div:before, button div:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #fff;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 25px 0;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

button div:before {
  content: "HOVER";
  letter-spacing: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

button div:after {
  content: "YEAH !";
  letter-spacing: -10px;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

button:hover:before {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

button:hover div:before {
  letter-spacing: 3px;
  opacity: 0;
  -webkit-transform: scale(4);
          transform: scale(4);
}

button:hover div:after {
  letter-spacing: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-4 {
  cursor: pointer;
  position: absolute;
  padding: 10px 20px;
  background: white;
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn-4:after, .btn-4:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn-4:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid black;
  border-left: 5px solid black;
}

.btn-4:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.btn-4:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn-4:hover:before, .btn-4:hover:after {
  width: 100%;
  height: 100%;
}

.data-container {
  background: white;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  width: 50%;
  margin-left: 25%;
  background-color: #ccc;
  height: 250px;
  text-align: center;
  border: 5px solid #336E7B;
}

.slide {
  position: static;
  color: #fff;
  line-height: 250px;
  text-decoration: none;
  border-radius: 5em;
  padding: 15px 50px;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #336E7B), color-stop(50%, #E26A6A));
  background: linear-gradient(to left, #336E7B 50%, #E26A6A 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.slide:hover {
  background-position: right bottom;
}

.container {
  width: 80vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */