@import "_variables.scss";
@import "_btn1.scss";
@import "_btn2.scss";
@import "_btn3.scss";
@import "_btn4.scss";
@import "_btn5.scss";

.container {
    width: 80vw;
    margin: 2rem auto;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    font-size: 5rem;
    align-items: center;
    text-align: center;
}